h1{
    color: #a3a3c2;
}
h3{
    color: #00ace6;
}
#example1{
    color: #ff4da6;
}
#example2{
    color: #4d88ff;
}
ol{
    color: #800080;
}
#podpunkt1{
    color: #ffff00;
}
#podpunkt2{
    color: #80bfff;
}
#podpunkt3{
    color: #6666ff;
}
#podpunkt4{
    color: #e699cc;
}
#podpunkt5{
    color: #6600cc;
}