Body{
    background: #a3a3c2;
}
h1{
    background: #00ace6;
}
h3{
    background: #ff4da6;
}
#example1{
    background: #4d88ff;
}
#example2{
    background: #800080;
}
ol{
    background: #ffcc00;
}
#podpunkt1{
    background: #80bfff;
}
#podpunkt2{
    background: #6666ff;
}
#podpunkt3{
    background: #e699cc;
}
#podpunkt4{
    background: #8cff1a;
}
#podpunkt5{
    background: #00ffbf;
}